img{
	/*percent is the how much space this item will 
	take up with respect to the parent element*/
	width: 30%;
	/*float can make div in one line and remove the white space in between*/
	float: left;

	margin: 1.66%;
}

p{
	font-family: Raleway;
	font-size:45px;
	margin-left: 1.66%;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 5px solid red;
	width: 30%;
	padding-bottom: 20px;
}